<% content_for :sub_page_navi do %>
	<ul class="noDeco profileNavigation">
		<li><%= link_to "All events", admin_events_path %></li>
		<li><%= link_to "Back to event", admin_event_path(@event) %></li>
		<il><%= link_to "Print view", printview_admin_event_reservations_path(@event) %></il>
	</ul>
<% end %>
<%= render :partial => 'guestlist' %>
