<ul class="noDeco profileNavigation">
	<li><%= link_to I18n.t('users.navigation.wall'), user_path(@user) %></li>
	<li>&middot;</li>
	<li><%= link_to I18n.t('users.navigation.infos'), infos_user_path(@user) %></li>
	<li>&middot;</li>
	<li><%= link_to I18n.t('users.navigation.friends'), friends_user_path(@user) %></li>
	<li>&middot;</li>
	<li><%= link_to I18n.t('users.navigation.photos'), user_albums_path(@user) %></li>
</ul>