<div id="gallery">
	<img src="/images/rails.png" width="250px" height="300px"/><br/>
	<img src="/images/rails.png" width="200px" height="250px"/>
</div>
<div class="title">
	Guestbook
</div>
Schreib uns einen Eintrag in unser Gästebuch. Was denkst du über unseren Club, 
hast du Vorschläge zur Verbesserungen, Ideen oder Kritik? Wir wollen sie hören!

Wir lieben kontroverse Diskussionen, wir möchten eure Wünsche und Vorstellungen kennen und wir 
arbeiten permanent an unserer Leistung unseren Gästen gegenüber. 
Wir nehmen unsere Gäste ernst und respektieren ihre Meinung, auch wenn wir sie nicht immer teilen.

Kontaktwünsche gehören unter Kontakte und bitte keine Mailanschriften oder 
Links auf andere Internetseiten, Danke.