<div id="news">
	<div class="title">
		<a href="#">Das ist ein titel.</a>
	</div>
	
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	<div class="news-links">
		<a href="#">Lese mehr</a><a href="#">Bla bla bla | </a>
	</div>
</div>

<div id="news">
	<div class="title">
		<a href="#">Das ist ein titel.</a>
	</div>

	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	asdfk aksdfj la;ksdjf;l kasjdfk ashdflkj haslkdfh lsakdfh lkasjdhflk hadsflkjh adlskjhsladjf lkasdhfkl jsh
	<div class="news-links">
		<a href="#">Lese mehr</a><a href="#">Bla bla bla | </a>
	</div>
</div>