<% semantic_form_for(Chatmessage.new, :html => {:method => :post, :remote => true}) do |f| %>
	<%= f.inputs do %>
		<div class="chatMessageWrap">
			<%= f.input :body, :label => false %>
		</div>
		<%= f.commit_button 'Submit' %>
	<% end %>
<% end %>