// Styles for the friends list as well as the friend grid.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';
body.users {
	.friends {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: inherit;
		.friend {
			padding: 0;
			margin: 0 0 5px 0;
			width: 100%;
			overflow: hidden;
			border-bottom: 1px dotted $border_color;
			
			.friend_body {
				padding: 0;
				margin: 0;
				display: block;
				float: left;
				width: 375px;
			}
			.friend_picture {
				margin: 5px;
				padding: 0;
				width: 50px;
				float: left;
			}
			.common_friends {
				overflow: auto;
				width: 100%;
			}
		}
	}
}