<div>
	<h2>Flagged posts:</h2>
	<%= @posts.each do |k,v| %>
		<%= k.user %>
	<% end %>
</div>
<div>
	<h2>Flagged comments:</h2>
</div>
<div>
	<h2>Flagged users:</h2>
</div>
<div>
	<h2>Flagged messages:</h2>
</div>